/* general style for body*/
body {
  height: 100%;
  margin: 25px auto;
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  background-size: cover;
  height: 100%;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 48px;
  width: 800px;
  padding: 25px;
}
.search-form {
  display: block;
  margin: auto;
}
.city {
  font-size: 20px;
  align-content: right;
}
footer {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(10, 0, 0);
}
