html,
body {
  height: 100%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 600px;
  background-color: aqua;
  border: 1px solid #000000;
  border-radius: 48px;
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}
